
<!-- <div class="sidenav-header">
  <div class="header-text" [class.hide-header-text]="collapsed()">
    <h2>Design Details</h2>
    <p>Other Dynamic Info</p>
  </div>
</div> -->

<!-- <mat-nav-list>
  @for (item of menuItems(); track item.label) {
    <app-sidenav-menu-item [item]="item" [collapsed]="collapsed()" ></app-sidenav-menu-item>
  }
</mat-nav-list> -->

<!-- @for (item of activeMenuItems(); track item.label) {
  <app-sidenav-menu-item
    [item]="item"
    [collapsed]="collapsed()"
  ></app-sidenav-menu-item>
} -->

<!-- sidenav.component.html -->
<div class="sidenav-content bg-purple-200">
  <div class="sidenav-toggle-button">
    <button mat-icon-button (click)="toggleCollapsed()">
      <mat-icon>
        {{ collapsed() ? 'keyboard_double_arrow_right' : 'keyboard_double_arrow_left' }}
      </mat-icon>
    </button>
  </div>

  @for (item of menuItems(); track item.label) {
    <app-sidenav-menu-item
      [item]="item"
      [collapsed]="collapsed()">
    </app-sidenav-menu-item>
  }
</div>
