<app-toolbar></app-toolbar>

<mat-sidenav-container>
  @if (showSidenav()) {
    <mat-sidenav
      [opened]="true"
      mode="side"
      [style.width]="sidenavWidth()"
    >
    <app-sidenav
    [collapsed]="collapsed()"
    (collapsedChange)="toggleCollapsed()"
  />
    </mat-sidenav>
  }

  <mat-sidenav-content
    class="p-5 transition-[margin-left] duration-500"
    [style.marginLeft]="sidenavWidth()"
  >
    @if (loading()) {
      <div class="flex justify-center items-center h-full">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    } @else {
      <ng-container #content>
        <app-responsive-helper></app-responsive-helper>
        <router-outlet></router-outlet>
      </ng-container>
    }
  </mat-sidenav-content>
</mat-sidenav-container>
