// src/styles/themes/_custom-theme.scss

@use "@angular/material" as mat;

$compact-theme: mat.define-theme(
  (
    density: (
      scale: -5,
    ),
  )
);
.custom-theme {
  @include mat.button-color($compact-theme);
  @include mat.button-overrides((
    container-height: 2rem,
    container-shape: 0.25rem,
    horizontal-padding: 1rem
  ));
}

.button-rounded {
  --border-radius: 10px;
  --mdc-text-button-container-shape: var(--border-radius);
  --mdc-protected-button-container-shape: var(--border-radius);
  --mdc-outlined-button-container-shape: var(--border-radius);
  --mdc-filled-button-container-shape: var(--border-radius);
}


