// // src/styles/themes/_all.scss
@use "@angular/material" as mat;
@use "../../../m3-theme.scss";
@use "./custom-theme.scss";

$my-app-theme: m3-theme.$light-theme;
$my-app-dark-theme: m3-theme.$dark-theme;
$my-custom-theme: custom-theme.$custom-theme;
// @use "@angular/material" as mat;

// $my-app-theme: mat.define-theme(
//   (
//     color: (
//       theme-type: light,
//       primary: mat.$azure-palette,
//       tertiary: mat.$blue-palette,
//     ),
//     density: (
//       scale: 0,
//     ),
//   )
// );


// $my-app-dark-theme: mat.define-theme(
//   (
//     color: (
//       theme-type: dark,
//       primary: mat.$magenta-palette,
//       tertiary: mat.$violet-palette,
//     )
//   )
// );
