:root.dark-theme {

    --sys-background: #0f1417;
    --sys-on-background: #dfe3e7;
    --sys-surface: #0f1417;
    --sys-surface-dim: #0f1417;
    --sys-surface-bright: #353a3d;
    --sys-surface-container-lowest: #0a0f12;
    --sys-surface-container-low: #171c1f;
    --sys-surface-container: #1b2023;
    --sys-surface-container-high: #262b2e;
    --sys-surface-container-highest: #313539;
    --sys-on-surface: #dfe3e7;
    --sys-surface-variant: #40484d;
    --sys-on-surface-variant: #c0c7cd;
    --sys-inverse-surface: #dfe3e7;
    --sys-inverse-on-surface: #2c3134;
    --sys-outline: #8a9297;
    --sys-outline-variant: #40484d;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #8fcff3;
    --sys-primary: #8fcff3;
    --sys-on-primary: #003549;
    --sys-primary-container: #004c68;
    --sys-on-primary-container: #c3e8ff;
    --sys-inverse-primary: #1a6585;
    --sys-secondary: #8fcef3;
    --sys-on-secondary: #003549;
    --sys-secondary-container: #004c69;
    --sys-on-secondary-container: #c4e7ff;
    --sys-tertiary: #c9beff;
    --sys-on-tertiary: #31285f;
    --sys-tertiary-container: #483f77;
    --sys-on-tertiary-container: #e6deff;
    --sys-error: #ffb4ab;
    --sys-on-error: #561e19;
    --sys-error-container: #73342d;
    --sys-on-error-container: #ffdad5;
    --sys-neutral: #73787c;
    --sys-neutral-variant: #71787d;
    --sys-primary-fixed: #c3e8ff;
    --sys-primary-fixed-dim: #8fcff3;
    --sys-on-primary-fixed: #001e2c;
    --sys-on-primary-fixed-variant: #004c68;
    --sys-secondary-fixed: #c4e7ff;
    --sys-secondary-fixed-dim: #8fcef3;
    --sys-on-secondary-fixed: #001e2c;
    --sys-on-secondary-fixed-variant: #004c69;
    --sys-tertiary-fixed: #e6deff;
    --sys-tertiary-fixed-dim: #c9beff;
    --sys-on-tertiary-fixed: #1c1149;
    --sys-on-tertiary-fixed-variant: #483f77;
    --sys-inverse-secondary: #1c6586;
    --sys-inverse-tertiary: #605790;
    --sys-inverse-error: #904a43;
    --sys-error-fixed: #ffdad5;
    --sys-error-fixed-dim: #ffb4ab;
    --sys-on-error-fixed: #3b0907;
    --sys-on-error-fixed-variant: #73342d;
  }
