@use 'sass:map';
// custom color palettes
/// Adds the error colors to the given palette.
@function _patch-error-palette($palette) {
  @return map.merge(
    $palette,
    (
      error: (
        0: #000000,
        10: #410002,
        20: #690005,
        25: #7e0007,
        30: #93000a,
        35: #a80710,
        40: #ba1a1a,
        50: #de3730,
        60: #ff5449,
        70: #ff897d,
        80: #ffb4ab,
        90: #ffdad6,
        95: #ffedea,
        98: #fff8f7,
        99: #fffbff,
        100: #ffffff,
      ),
    )
  );
}

/// Red color palette to be used as primary or tertiary palette.
$adam-palette: _patch-error-palette((
  0: #000000,
  10: #00164e,
  20: #062978,
  25: #183584,
  30: #274190,
  35: #344d9c,
  40: #415aa9,
  50: #5b73c4,
  60: #758de0,
  70: #8fa7fd,
  80: #b5c4ff,
  90: #dce1ff,
  95: #eff0ff,
  98: #faf8ff,
  99: #fefbff,
  100: #ffffff,
  secondary: (
    0: #000000,
    10: #001946,
    20: #002c70,
    25: #003786,
    30: #00419d,
    35: #004cb5,
    40: #1258c8,
    50: #3a72e2,
    60: #588cfe,
    70: #86a9ff,
    80: #b1c5ff,
    90: #d9e2ff,
    95: #eef0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1b1b1f,
    20: #303034,
    25: #3b3b3f,
    30: #47464a,
    35: #525256,
    40: #5e5e62,
    50: #77767a,
    60: #919094,
    70: #acaaaf,
    80: #c8c6ca,
    90: #e4e2e6,
    95: #f2f0f4,
    98: #fbf8fd,
    99: #fefbff,
    100: #ffffff,
    4: #0d0e11,
    6: #131316,
    12: #1f1f23,
    17: #292a2d,
    22: #343438,
    24: #39393c,
    87: #dbd9de,
    92: #eae7ec,
    94: #efedf1,
    96: #f5f3f7,
  ),
  neutral-variant: (
    0: #000000,
    10: #1a1b23,
    20: #2f3038,
    25: #3a3b43,
    30: #45464f,
    35: #51525b,
    40: #5d5e67,
    50: #767680,
    60: #8f909a,
    70: #aaaab4,
    80: #c6c6d0,
    90: #e2e1ec,
    95: #f0f0fa,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
));


/// Yellow color palette to be used as primary or tertiary palette.
$yellow-palette: _patch-error-palette((
  0: #000000,
  10: #1d1d00,
  20: #323200,
  25: #3e3e00,
  30: #494900,
  35: #555500,
  40: #626200,
  50: #7b7b00,
  60: #969600,
  70: #b1b100,
  80: #cdcd00,
  90: #eaea00,
  95: #f9f900,
  98: #fffeac,
  99: #fffbff,
  100: #ffffff,
  secondary: (
    0: #000000,
    10: #1d1d06,
    20: #323218,
    25: #3d3d22,
    30: #49482d,
    35: #545438,
    40: #606043,
    50: #7a795a,
    60: #949272,
    70: #aead8b,
    80: #cac8a5,
    90: #e7e4bf,
    95: #f5f3cd,
    98: #fefbd5,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1c1c17,
    20: #31312b,
    25: #3c3c35,
    30: #484741,
    35: #54524c,
    40: #605e58,
    50: #797770,
    60: #939189,
    70: #aeaba3,
    80: #c9c6be,
    90: #e6e2d9,
    95: #f4f0e8,
    98: #fdf9f0,
    99: #fffbff,
    100: #ffffff,
    4: #0f0e0a,
    6: #14140f,
    12: #20201b,
    17: #2b2a25,
    22: #36352f,
    24: #3a3933,
    87: #dddad1,
    92: #ece8df,
    94: #f1ede5,
    96: #f7f3ea,
  ),
  neutral-variant: (
    0: #000000,
    10: #1c1c11,
    20: #313125,
    25: #3d3c2f,
    30: #48473a,
    35: #545345,
    40: #605f51,
    50: #797869,
    60: #939182,
    70: #aeac9b,
    80: #cac7b6,
    90: #e6e3d1,
    95: #f4f1df,
    98: #fdfae7,
    99: #fffbff,
    100: #ffffff,
  ),
));




/// Yellow color palette to be used as primary or tertiary palette.
$green-palette: _patch-error-palette((
  0: #000000,
  10: #001f28,
  20: #003542,
  25: #004151,
  30: #004e5f,
  35: #005a6e,
  40: #00677e,
  50: #2e8198,
  60: #4c9bb3,
  70: #69b6cf,
  80: #85d1eb,
  90: #b4ebff,
  95: #dcf5ff,
  98: #f2fbff,
  99: #f9fdff,
  100: #ffffff,
  secondary: (
    0: #000000,
    10: #011f27,
    20: #19343d,
    25: #243f48,
    30: #304b54,
    35: #3c5660,
    40: #48626c,
    50: #607b85,
    60: #7a95a0,
    70: #94b0bb,
    80: #afcbd6,
    90: #cae7f3,
    95: #dcf5ff,
    98: #f2fbff,
    99: #f9fdff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #181c1e,
    20: #2d3133,
    25: #383c3e,
    30: #444749,
    35: #4f5355,
    40: #5b5f61,
    50: #747879,
    60: #8e9193,
    70: #a8acad,
    80: #c4c7c9,
    90: #e0e3e5,
    95: #eef1f3,
    98: #f7fafb,
    99: #fafcfe,
    100: #ffffff,
    4: #0b0f10,
    6: #101415,
    12: #1c2022,
    17: #272b2c,
    22: #323537,
    24: #363a3b,
    87: #d8dadc,
    92: #e6e8ea,
    94: #eceef0,
    96: #f1f4f6,
  ),
  neutral-variant: (
    0: #000000,
    10: #141d20,
    20: #293235,
    25: #343d40,
    30: #3f484c,
    35: #4b5458,
    40: #566064,
    50: #6f797d,
    60: #899296,
    70: #a3adb1,
    80: #bec8cc,
    90: #dae4e8,
    95: #e9f2f7,
    98: #f2fbff,
    99: #f9fdff,
    100: #ffffff,
  ),
));
