<mat-card class="custom-card ">
  <mat-card-header class="custom-card__header ">
    <mat-card-title class="custom-card__title p-4 text-[90px] text-red-500">Card Title</mat-card-title>
    <mat-card-subtitle class="custom-card__subtitle p-6">Subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="custom-card__content">
    This is the card content.
  </mat-card-content>
  <mat-card-footer class="custom-card__footer">
    Footer content
  </mat-card-footer>
</mat-card>

<!-- <div class="max-w-sm mx-auto bg-white rounded-xl shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300">

  <div class="p-4 border-b">
    <h2 class="text-xl font-semibold text-gray-800">Card Title</h2>
    <p class="text-gray-500 text-sm">Subtitle or description</p>
  </div>


  <img class="w-full h-48 object-cover" src="https://via.placeholder.com/400x300" alt="Card image" />


  <div class="p-4">
    <p class="text-gray-700 text-base">
      This is the content area of the card. You can add text, links, or other information here.
    </p>
  </div>


  <div class="p-4 border-t flex items-center justify-between">
    <button class="text-sm text-blue-500 font-semibold hover:text-blue-700 transition-colors duration-200">Learn More</button>
    <span class="text-gray-400 text-xs">Updated 2 days ago</span>
  </div>
</div> -->


<div class="demo-buttons">
  <h3>Buttons Color Variants</h3>
  <h4>Secondary</h4>
  <button mat-button class="mat-secondary">Basic</button>
  <button mat-raised-button class="mat-secondary">Raised</button>
  <button mat-stroked-button class="mat-secondary">Stroked</button>
  <button mat-flat-button class="mat-secondary">Flat</button>
</div>

<div class="demo-buttons">
  <h4>Tertiary</h4>
  <button mat-button class="mat-tertiary">Basic</button>
  <button mat-raised-button class="mat-tertiary">Raised</button>
  <button mat-stroked-button class="mat-tertiary">Stroked</button>
  <button mat-flat-button class="mat-tertiary">Flat</button>
</div>
